@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.link {
  border: 1px solid #000;
  text-decoration: none;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 10px;
  box-shadow: 4px 4px #367055;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  background-color: #367055;
  cursor: pointer;
}

.MyName {
  font-size: 5vh;
  margin-top: 1vh;
}

.Header {
  padding-top: 3em;
  margin-bottom: 10vh;
}

.BadgeText {
  font-size: medium;
  text-align: center;
  font-weight: 600;
  color: #000;
}

.CardText {
  margin-top: 1vh;
  margin-left: 1vh;
}

.Section {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 15px 15px #367055;
  padding: 1vh;
}
