* {
    font-family: sh-pinscher, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(51, 255, 0);
    background-color: #000;
}

.MyName {
    font-size: 5vh;
    margin-top: 1vh;
}

.whoami {
    font-size: xx-large;
    margin-bottom: 1em;
}

.Header {
    padding-top: 3em;
    margin-bottom: 10vh;
    text-align: center;
}


.Badge {
    border: 1px solid #222222;
    width: 8em;
    box-shadow: 0.2em 0.3em #222222;
}

.BadgeText {
    font-size: medium;
    text-align: center;
    font-weight: 600;
}

.Omakuva {
   max-width: 50%;
   min-width: 15vh;
   box-shadow: 0.4em 0.6em #222222;
   float: right;
}

.data {
    text-align: center;
}

.LinkedIn {
    text-decoration: none;
}

.MenuLink {
    text-decoration: none;
    color: rgb(51, 255, 0);
}

.CardText {
    margin-top: 1vh;
    margin-left: 1vh;
}

.Section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}